<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/dist/output.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon" href="static/favicon.jpg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      integrity="sha512-P5mCn/lfy2+JIX4ebVqGfi0/6syBF5IqEXYlrHBD/rRi8i/H/FfPU+D/EbGCQ7iLunbq8nlMGG6P9iGN5/6J4g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Feelona - edit</title>
</head>

<body class="bg-gray-200 p-4">
    <div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md">
        <form class="add-item-form" method="POST" action="{{ url_for('edit', id = item.id) }}" enctype="multipart/form-data">
          <h1 class="text-3xl font-bold mb-10">Update Item Info</h1>

          <input type="hidden" name="id" value="{{ item.id }}">

          <!-- Product Name -->
          <label class="block mb-2 text-i-600">Product Name</label>
          <input type="text" value="{{item.product_name}}" name="product_name" class="w-full border p-2 mb-4" required = "1"> 
    
          <!-- Product Price -->
          <label class="block mb-2 text-gray-600">Product Price</label>
          <input type="number" value="{{item.price}}" name="price" class="w-full border p-2 mb-4" required = "1">
    
          <!-- Available Quantity -->
          <label class="block mb-2 text-gray-600">Available Quantity</label>
          <input type="number" value="{{item.available_quantity}}" name="available_quantity" class="w-full border p-2 mb-4" required = "1">
          <!-- Submit Button -->
          <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Submit</button>
        </form>
      </div>
</body>

</html>